[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = tuannguyen24
	email = 63433596+tuannguyen24@users.noreply.github.com
